<h1>Welcome to Montgomery Hills Baptist Church</h1>

<%= link_to "Sign up now!", signup_path, class: "btn btn-primary" %>

<div class="row articles">
	<% @topstories.each do |topstory| %>

		<div class="index_row">
			<div class="span2">
				<%= image_tag(topstory.image_url(:thumb)) if !topstory.image_url.blank? %>
			</div>

			<div class="span7">
				<h5><%= topstory.title %></h5>
				<%= raw topstory.summary_text %>
				<div class="pull-right readmore">
					<%= link_to "read more", topstory, class: "readmore" %>
				</div>
			</div>
		</div>

	<% end %>
</div>
