<div class="index_row">
    <% if @blurb == false %>
        <div class="span2">
            <%= link_to article.title, article, class: "title" %>
        </div>

        <div class="span5">
            <%= raw RedCloth.new(article.summary_text).to_html %>
        </div>

        <div class="span2">
            <%= link_to "Edit", edit_article_path(article), class: "action_link" %>
            <%= link_to "Delete", article, class: "action_link",
                                            method: :delete,
                                            data: { confirm: "Are you sure?" } %>
        </div>
    <% else %>
        <% pic_size = (@title == 'Staff') ? :bio : :thumb %>
        <div class="span2">
            <% if article.image.blank? == false %>
                <% photo = Photo.photo_object(article.image) %>
                <% if photo.image_size(pic_size) %>
                    <%= image_tag(photo.image_size(pic_size)) %>
                <% end %>
            <% end %>
        </div>

        <div class="span7">
            <h5><%= article.title %></h5>
            <%= raw RedCloth.new(article.summary_text).to_html %>
            <div class="pull-right readmore">
                <%= link_to "read more", article, class: "readmore" %>
            </div>
        </div>
    <% end %>
</div>