<h1><%= yield(:header) %></h1>

<% @article.author = string_add_name_if_missing(@article.author, @user.name) %>

<div class="row">
	<div class="span8">
		<%= simple_form_for(@article, :html => {:class => 'form-horizontal',
												:multipart => true }) do |f| %>

			<%-# render 'shared/error_messages' -%>

			<%-# f.error_messages -%>

			<%= f.input :title %>
			<%= f.input :menu %>
			<%= f.input :image, :as => :file %>
			<%= f.input :author %>
			<%= f.input :summary, :as => :text, :input_html => { :rows => 4 } %> 
			<%= f.input :content, :as => :text %> 
			<%= f.input :publish, hint: 'Not user-visible unless checked. Unchecked for draft.' %>
			<%= f.input :frontpage, hint: 'Should summary be seen on front page of site?' %>
			<%= f.input :rank, :collection => 1..10, :as => :radio_buttons, 
						item_wrapper_class: 'inline', 
						hint: 'Higher rank articles listed first. For same rank, newest first.' %>
			<%= f.submit yield(:submit_label), class: "btn btn-large btn-primary" %>

		<% end %>
	</div>
</div>