<h1>Articles</h1>

<% sb = SelectorBlock.new(self, "/articles?sort=#{@sort.downcase}&filter=",
                             ['All', 'FrontPage', 'News', 'Blog', 'Menus', 'Drafts'],
                             @filter) %>

<div class="row">
    <%= sb.to_html %>


	<div class="new-content-button pull-right">
		<%= link_to "New Article", new_article_path, class: "link_button" %>
        <br></br>
	</div>
</div>

<% sb2 = SelectorBlock.new(self, "/articles?filter=#{@filter.downcase}&sort=",
                             ['Alphabetical', 'ByEditDate'],
                             @sort) %>
<div class="row">
    <%= sb2.to_html %>
</div>

<div class="row">
	<%= will_paginate %>
</div>

<% @blurb = false %>
<div class="row articles">
	<%= render @articles %>
</div>

<%= will_paginate %>