<h1>Update Site Information</h1>

<div class="row">
	<div class="span5 offset2">
		<%= form_for(@site_info) do |f| %>

			<%-# render 'shared/error_messages' -%>

			<%= f.label :title %>
			<%= f.text_field :title %>

			<%= f.label :menubar %>
			<%= f.text_field :menubar %>
			
			<%= f.label :phone %>
			<%= f.text_field :phone %>

			<%= f.label :address %>
			<%= f.text_field :address %>

			<%= f.label :email %>
			<%= f.text_field :email %>

			<%= f.label :weekly %>
			<%= f.text_area :weekly %>

			<%= f.submit 'Save changes', class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>
