<h1><%= "#{@event.name}" %></h1>

<% @ed = EventDates.new(@event.date, @event.start_date, @event.end_date, \
                        @event.active_days, @event.cancelled_dates) %>

<p>
    <%= "Date(s): #{@ed.date_string}" %>
</p>

<p>
    <%= "Time: #{@event.start_time}" %>
</p>

<% if @ed.is_range? || @ed.date_list.length > 1 %>
    <p>Upcoming:
        <% dates = @ed.dates_on_or_after(Date.today) %>

        <% trailer = '' %>
        <% if dates.length > 5 %>
            <% dates = dates[0..4] %>
            <% suffix = '...' %>
        <% end %>

        <% dates_text = EventDates.prettyprint(dates).html_safe %>

        <%= "#{dates_text}#{suffix}" %>
    </p>
<% end %>

<% if @event.article.blank? == false %>
    <% toks = @event.article.split(',') %>
    <% @articles = toks.collect { |t| Article.find_by_title(t.strip) } %>

    <% @blurb = true %>
    <div class="row articles">
        <%= render @articles %>
    </div>
<% end %>