<h1><%= yield(:header) %></h1>

<div class="row">
	<div class="span8">
		<%= simple_form_for(@photo, :html => {:class => 'form-horizontal',
												:multipart => true }) do |f| %>

			<%-# render 'shared/error_messages' -%>

			<%-# f.error_messages -%>

			<%= f.input :name %>

			<%= link_to(image_tag(@photo.image_url(:bio), class: "controls"), @photo.image_url) unless @photo.image_url.blank? %>

			<%= f.input :image, :as => :file %>

			<%= f.submit yield(:submit_label), class: "btn btn-large btn-primary" %>

		<% end %>
	</div>
</div>
