<h1>All galleries</h1>

<% if privileged_user?(current_user) %>
    <div class="row">
        <div class="new-content-button pull-right">
            <%= link_to "New Gallery", new_gallery_path, class: "link_button" %>
            <%= link_to "New Photo", new_photo_path, class: "link_button" %>
            <br></br>
        </div>
    </div>
<% end %>

<div class="row">
	<%= will_paginate %>
</div>

<div class="row galleries">
	<%= render @galleries %>
</div>

<%= will_paginate %>