<!DOCTYPE html>
<html>
	<head>
	  <title>Montgomery Hills Baptist Church</title>
	  <%= stylesheet_link_tag    "application", media: "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	  <%= render 'layouts/shim' %>
    </head>
	<body>

        <% @ms = MenuSystem.get(self, @site_info, @all_articles) %>

		<%= render 'layouts/header' %>
        
		<div class="container">
			<%= render 'layouts/banner' %>

			<div class="row">
 
				<div class="span3">
					<%= render 'layouts/sidebar' %>
				</div>

				<div class="span9">
					<div class="body-area">
						<% flash.each do |key, value| %>
							<div class="alert alert-<%= key %>"><%= value %></div>
						<% end %>
						
						<%= yield %>
					</div>
				</div>

			</div>

			<%= render 'layouts/footer' %>

		</div>

	</body>
</html>
